.bg-gallery{
  background: var(--color-mainBlack);
}

.product-title-p {
  font-family: var(--font-homemade-apple);
  color: var(--color-mainBlue);
  font-size: 1.2rem;
  font-weight: 400;
}

.product-title {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--color-pink-light);
}
