<div class="container-fluid bg-banner">
  <div class="row">
    <div class="col-10 col-md-6 mx-auto">
      <div
        class="w-100 vh-100 d-flex justify-content-center align-items-center"
      >
        <div class="content text-center">
          <h1 class="banner-title text-white">
            Sports Clothing & Fitness Equipment Shopify Theme
          </h1>

          <button class="fitness-btn-primary text-white">View Shop</button>
        </div>
      </div>
    </div>
  </div>
</div>


<app-app-product></app-app-product>
