.bg-banner{
  background: url('../../assets/images/banner.jpg') no-repeat center fixed ;
  background-size: cover;
  height: 100vh;
  width: 100wh;
}

.banner-title{
  font-size: 4rem;
  line-height: 1.3;
  font-family: var(--font-rajdhani);
  font-weight: 600;
}


