<div class="container">
  <div class="row">
    <div class="col-10 col-lg-6 mx-auto">
      <div class="mt-5">
        <h2 class="login-title text-center">Log in</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-10 col-md-6 mx-auto">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="my-5">
        <div class="my-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Enter Your Email Address"
              formControlName="email"
            />
            <mat-hint>Hints: your@gmail.com</mat-hint>
            <mat-error>Invalid or missing Your Email.</mat-error>
          </mat-form-field>
        </div>

        <div class="my-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Enter Your Password"
              formControlName="password"
            />
            <mat-hint>Hints: 12345678</mat-hint>
            <mat-error>Invalid or missing Password</mat-error>
          </mat-form-field>
        </div>

        <div class="my-4 d-flex align-items-center p-1">
          <button
            class="fitness-btn-primary"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>

          <p class="mx-5 my-3 forget-password" routerLink="/reset-password">Forget your password?</p>
        </div>
      </form>
    </div>
  </div>

  <div class="row mb-5 mt-3">
    <div class="col-10 col-md-6 mx-auto">
      <h2 class="new-customer">New Customers</h2>
      <p class="new-customer-description text-muted">
        Sign up for an account to take advantage of order tracking and history
        as well as pre-filled forms during checkout on subsequent orders.
      </p>
      <button
            class="fitness-btn-secondary color-bg-sky-light text-uppercase"
            type="button"
            routerLink="/signup"
          >
            Register
          </button>
    </div>
  </div>
</div>
