<section class="bg-footer">
  <div class="container-fluid">
    <div class="row mx-4">
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 mx-auto my-5 text-center text-md-start">
        <h3 class="footer-logo fs-1 fw-semibold">LOGO.</h3>
        <p class="footer-logo-description mb-5">
          Be the first who learns about our great promotions!
        </p>
        <p class="footer-follow">FOLLOW US</p>

        <div class="d-flex justify-content-center justify-content-md-start">
          <p class="me-3 footer-icon footer-icon-twitter">
            <i class="fa-brands fa-twitter fa-2x"></i>
          </p>
          <p class="me-3 footer-icon footer-icon-facebook px-3">
            <i class="fa-brands fa-facebook-f fa-2x"></i>
          </p>
          <p class="footer-icon footer-icon-instagram">
            <i class="fa-brands fa-instagram fa-2x"></i>
          </p>
        </div>
      </div>

      <div class="col-10 col-sm-6 col-md-4 col-lg-2  mx-auto my-5 text-center text-md-start">
        <h2 class="footer-products fs-3">PRODUCTS</h2>
        <div class="footer-product-items">
          <p class="mb-4">New Arrival</p>
          <p class="mb-4">Best Seller</p>
          <p class="mb-4">On Sale</p>
          <p class="mb-4">All Collection</p>
        </div>
      </div>
      <div class="col-10 col-sm-6 col-md-4 col-lg-2 mx-auto my-5 text-center text-md-start">
        <h2 class="footer-products fs-3">CATEGORY</h2>
        <div class="footer-product-items">
          <p class="mb-4">Barbells</p>
          <p class="mb-4">Plates</p>
          <p class="mb-4">Benches</p>
          <p class="mb-4">Apparel</p>
          <p class="mb-4">Straps & Supports</p>
        </div>
      </div>

      <div class="col-10 col-sm-6 col-md-4 col-lg-2 mx-auto my-5 text-center text-md-start">
        <h2 class="footer-products fs-3">INFO</h2>
        <div class="footer-product-items">
          <p class="mb-4">About</p>
          <p class="mb-4">Blog</p>
          <p class="mb-4">Feature</p>
          <p class="mb-4">Store Location</p>
          <p class="mb-4">Terms & Conditions</p>
          <p class="mb-4">Privacy Policy</p>
        </div>
      </div>
      <div class="col-10 col-md-4 col-lg-3 mx-auto my-5 text-center text-md-start">
        <h2 class="footer-products fs-3">SUBSCRIBE</h2>
        <div class="footer-product-items">
          <h4 class="my-5">
            Subscribe our newsletter and get discount 30% off
          </h4>

          <div class="input-group mb-3 overflow-hidden">
      <input type="text" class="form-control footer-input p-3 bg-transparent rounded-0" placeholder="Enter your email..." aria-label="Recipient's username" aria-describedby="basic-addon2">
      <button class="footer-signup-button input-group-text legal-footer-icon  text-white rounded-0"> Sign Up</button>
    </div>
        </div>
      </div>
    </div>
  </div>
</section>
